body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-image: url(./Image/back.png);
  background-repeat: no-repeat;
}
.main-menu {
  text-align: center;
  color: white;
}

.main-menu h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.main-menu button {
  padding: 10px 20px;
  font-size: 1.2rem;
  background-color: green;
  color: white;
  border: none;
  cursor: pointer;
}

.game-container {
  position: relative;
  overflow: hidden;
}

.player,
.enemy,
.bullet {
  position: absolute;
}
